<!DOCTYPE html> 
<html> 
	<head> 
		<title>SchoBowl 2024</title> 
	</head> 
	<body> 

		<h1>Entry List</h1> 

		<table style="width:100%"> 
			<tr> 
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th> 
			<th>Phone Number</th> 
			</tr> 
			{%for participant in data%} 
			<tr> 
				<td>{{participant[0]}}</td> 
				<td>{{participant[1]}}</td> 
				<td>{{participant[2]}}</td> 
				<td>{{participant[3]}}</td> 
				</tr> 
			{%endfor%} 
		</table>	

        <button class="btn" type="button" onclick=window.location.href='{{ url_for("join") }}';>Register</button><br/>
	</body> 
</html> 
