<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Sign Up</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
        th {
            background-color: #dddddd;
        }
        td:nth-child(1) {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Scholastic Bowl Sign Up</h1>
    <table>
        <tr>
            <th>Team</th>
            <th>Players (Signed Up/Total)</th>
            <th></th> </tr>
        <tr>
            <td>Team 1</td>
            <td id="team1">0/5</td>
            <td><button onclick="incrementCount('team1')">Join</button></td> 
        </tr>
        <tr>
            <td>Team 2</td>
            <td id="team2">0/5</td>
            <td><button onclick="incrementCount('team2')">Join</button></td> 
        </tr>
        <tr>
            <td>Team 3</td>
            <td id="team3">0/5</td>
            <td><button onclick="incrementCount('team3')">Join</button></td> 
        </tr>
        <tr>
            <td>Team 4</td>
            <td id="team4">0/5</td>
            <td><button onclick="incrementCount('team4')">Join</button></td> 
        </tr>
        <tr>
            <td>Team 5</td>
            <td id="team5">0/5</td>
            <td><button onclick="incrementCount('team5')">Join</button></td> 
        </tr>
        <tr>
            <td>Team 6</td>
            <td id="team6">0/5</td>
            <td><button onclick="incrementCount('team6')">Join</button></td> 
        </tr>
        <tr>
            <td>Team 7</td>
            <td id="team7">0/5</td>
            <td><button onclick="incrementCount('team7')">Join</button></td> 
        </tr>
        <tr>
            <td>Team 8</td>
            <td id="team8">0/5</td>
            <td><button onclick="incrementCount('team8')">Join</button></td> 
        </tr>
    </table>
    <script>
        function incrementCount(teamId) {
            // Get the current player count for the clicked team
            var currentCount = parseInt(document.getElementById(teamId).innerText.split("/")[0]);
            var maxCount = parseInt(document.getElementById(teamId).innerText.split("/")[1]);
            
            // Increment the count by 1
            if (currentCount < maxCount){
                var newCount = currentCount + 1;
            }
            else{
                var newCount = currentCount;
            }
            
            // Update the player count in the HTML
            document.getElementById(teamId).innerText = newCount + "/5";
        }
    </script>
</body>
</html>
