<!DOCTYPE html> 
<html> 
	<head> 
		<title>Sign Up</title> 
	</head> 
	<body> 
		<form method="POST"> 
			<label>First name:</label> 
			<input type="name" name="first_name" placeholder="John" required><br/>
            <label>Last name:</label> 
			<input type="name" name="last_name" placeholder="Doe" required><br/> 
			<label>Email:</label> 
			<input type="email" name="email" placeholder="example@somewhere.com" required><br/> 
			<label>Phone:</label> 
			<input type="name" name="phone" placeholder="1112223333" required><br/> 
			<input type = "submit" value = "Submit"/><br/> 
		</form> 
	</body> 
</html>
