<!DOCTYPE html> 
<html> 
	<head> 
		<title>Sign Up</title> 
	</head> 
	<body> 
		<form method="POST"> 
			<label>First name:</label> 
			<input type="name" name="first_name" placeholder="John" required><br/>
            <label>Last name:</label> 
			<input type="name" name="last_name" placeholder="Doe" required><br/> 
			<label>Email:</label> 
			<input type="email" name="email" placeholder="example@somewhere.com" required><br/> 
			<label>Phone:</label> 
			<input type="name" name="phone" placeholder="1112223333"><br/> 
			<label>Team: </label> 
			<select name="team">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
			  </select><br>
			<input type = "submit" value = "Submit"/><br/> 
		</form> 
	</body> 
</html>
